.main{
    margin: auto;

    margin-top: 1.5rem;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-400);
    
    border-radius: 0.5rem;

    padding: 1.2rem;
    max-width: 45rem;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.main a{
    margin-left: auto;
    margin-top: 0.2rem;
    cursor: pointer;
    color: var(--gray-300);
}

.round {
    position: relative;
  }
  
.round label {
    background-color: var(--gray-500);
    border: 2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    height: 1.5rem;
    left: 15px;
    position: absolute;
    top: 2px;
    width: 1.5rem;

    transition: 0.1s;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 8px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: var(--purple);
    border-color: var(--purple);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }