.form{
    display: flex;
    justify-content: center;
    gap: .5rem;

    margin-top: -1.7rem;
}

.input{
    background-color: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: .4rem;
    padding: 1rem;

    width: 38.5rem;
}

.a{
    width: 6rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--blue-dark);

    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 0.875rem;
    text-decoration: none;

    transition: 0.2s;
}

.a:hover{
    background-color: var(--gray-200);
    color: var(--blue-dark);
}

.header{
    display: flex;
    margin: auto;
    margin-top: 3rem;
    max-width: 45rem;

    justify-content: space-between;
}

.header span{
    display: flex;
    gap: 0.75rem;
    color: var(--blue);
    font-weight: bold;
}

.header span:nth-child(2){
    color: var(--purple);
}

.number{
    color: var(--white);
    background-color: var(--gray-400);
    padding: 0 0.5rem;
    border-radius: 8px;
}
